body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  background-color: #eee;
}

div {
  display: block;
}

.navbar {
  background-color: #333e48;
  display: block;
  height: 50px;
  line-height: 20px;
  margin-bottom: 20px;
  min-height: 50px;
  position: fixed;
  right: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1030;
}

/*.sidebar {
  background-color: #333e48;
  display: block;
  float: left;
  font-size: 20px;
  height: 100%;
  left: 10%;
  line-height: 28;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: -225px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-y: auto;
  padding-left: 50px;
  padding-top: 20px;
  position: fixed;
  top: 50px;
  width: 225px;
}*/

.wrapper {
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  text-align: center;
}

.width {
  width: 23%;
  float:left;
  display: block;
  border:1px solid #3498db; 
  margin: 10px;
  min-height: 100px;
}
