doctype html
html(ng-app='d3DemoApp')
  head
    meta(charset='utf-8')
    title Angular and D3
    script(src='http://d3js.org/d3.v2.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js')
    script(src='app.js')
  body(ng-ctrl='AppCtrl')
    h1 test
    gh-visualization(val='data')
