doctype html
html(ng-app='demoPosts')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Node Angular Restful-API
    script(src='javascripts/bower_components/angular/angular.js')
    script(src='javascripts/bower_components/d3/d3.js')
    script(src='javascripts/bower_components/nvd3/nv.d3.js')
    script(src='javascripts/bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js')
    link(rel='stylesheet', href='javascripts/bower_components/nvd3/nv.d3.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='javascripts/main.js')
  body(ng-controller='mainController')
    nvd3-line-chart(data='posts', showxaxis='true', showyaxis='true', tooltips='true', interactive='true')
    {{posts}}


