doctype html
html(ng-app='demoAPI')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Node Angular Restful-API
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
    script(src='javascripts/main.js')
    link(href='stylesheets/main.css', rel='stylesheet')
  body(ng-controller='mainController')
    .navbar
    .sidebar
    .wrapper
      .width
        h2 Total Users<br>{{users}}
      .width
        h2 Total Active Users<br>{{active}}
      .width
        h2 Total Posts<br>{{posts}}
      .width
        h2 Total Comments<br>{{comments}}
      h2 Total Likes<br>{{likes}}
    
