doctype html
html
  head
  body
    div
      canvas#canvas(height='450', width='600')
  script(src='http://code.jquery.com/jquery-1.11.0.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js')
  script(src='javascripts/main.js')
