doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title API Test
  body
    h1 Tasks
    p
      | &sol;tasks
    p
      | &sol;tasks&sol;&colon;id
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
