doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title API Docs
  body
    h1 API Documentation
    p
      | &sol;posts
    p
      | &sol;users
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
