doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title BraveNewTalent - Admin Dashboard
    link(href='http://netdna.bootstrapcdn.com/bootswatch/3.1.0/flatly/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='css/main.css', rel='stylesheet')
  body
    #wrapper
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav.side-bar
            li
              a(href='index.html')
                i.fa.fa-dashboard
                | Dashboard
            li
              a(href='#')
                i.fa.fa-bar-chart-o
                | Charts
            li
              a(href='#')
                i.fa.fa-bar-chart-o
                | Charts
            li
              a(href='#')
                i.fa.fa-bar-chart-o
                | Charts
            li
              a(href='#')
                i.fa.fa-bar-chart-o
                | Charts
            li
              a(href='#')
                i.fa.fa-bar-chart-o
                | Charts
            li
              a(href='#')
                i.fa.fa-bar-chart-o
                | Charts
            li
              a(href='#')
                i.fa.fa-bar-chart-o
                | Charts
      #page-wrapper
        .row
          .col-lg-12
            h1
              | LOGO HERE
              small Statistics Overview
            ol.breadcrumb
              li.active
                i.fa.fa-dashboard
                | Dashboard
        .row
          .col-lg-3
            .panel.panel-info
              .panel-heading
                .row
                  .col-xs-6
                    i.fa.fa-tasks.fa-5x
                  .col-xs-6.text-right
                    p.announce-heading 23
                    p.announce-text Campaigns
              a(href='#')
                .panel-footer.announcement-bottom
                  .row
                    .col-xs-12
                      | View All Campaigns
          .col-lg-3
            .panel.panel-info
              .panel-heading
                .row
                  .col-xs-6
                    i.fa.fa-tasks.fa-5x
                  .col-xs-6.text-right
                    p.announce-heading 876
                    p.announce-text Active Users
              a(href='#')
                .panel-footer.announcement-bottom
                  .row
                    .col-xs-12
                      | View All Users
          .col-lg-3
            .panel.panel-info
              .panel-heading
                .row
                  .col-xs-6
                    i.fa.fa-tasks.fa-5x
                  .col-xs-6.text-right
                    p.announce-heading 9&comma;876
                    p.announce-text Comments
              a(href='#')
                .panel-footer.announcement-bottom
                  .row
                    .col-xs-12
                      | View All Comments
          .col-lg-3
            .panel.panel-info
              .panel-heading
                .row
                  .col-xs-6
                    i.fa.fa-tasks.fa-5x
                  .col-xs-6.text-right
                    p.announce-heading 7&comma;654
                    p.announce-text Total Likes
              a(href='#')
                .panel-footer.announcement-bottom
                  .row
                    .col-xs-12
                      | View All Likes
        // /.row
        .row
          .col-lg-12
            .panel.panel-primary
              .panel-heading
                h3.panel-title
                  i.fa.fa-bar-chart-o
                  | NEW LIKES&colon; February 2014
              .panel-body
                #morris-chart-area
        .row
          .col-lg-4
            .panel.panel-primary
              .panel-heading
                h3.panel-title
                  i.fa.fa-long-arrow-right
                  | TOPICS&colon; February 2014
              .panel-body
                #morris-chart-donut
                .text-right
                  a(href='#') More Info
          .col-lg-4
            .panel.panel-primary
              .panel-heading
                h3.panel-title
                  i.fa.fa-long-arrow-right
                  | RECENT COMMENTS
              .panel-body
                .list-group
                  a.list-group-item(href='#')
                    span.badge just now
                    i.fa.fa-comment
                    | yes&excl;
                  a.list-group-item(href='#')
                    span.badge 2 minutes ago
                    i.fa.fa-comment
                    | So nice&excl;
                  a.list-group-item(href='#')
                    span.badge 3 minutes ago
                    i.fa.fa-comment
                    | I agree&excl;
                  a.list-group-item(href='#')
                    span.badge 6 minutes ago
                    i.fa.fa-comment
                    | That&apos;s not really what &period;&period;&period;
                  a.list-group-item(href='#')
                    span.badge 10 minutes ago
                    i.fa.fa-comment
                    | I think so too&period;
                  a.list-group-item(href='#')
                    span.badge 12 minutes ago
                    i.fa.fa-comment
                    | Hi&excl;
                  a.list-group-item(href='#')
                    span.badge 8 minutes ago
                    i.fa.fa-comment
                    | Bye&excl;
                  a.list-group-item(href='#')
                    span.badge 1 minutes ago
                    i.fa.fa-comment
                    | Hi&excl;
                .text-right
                  a(href='#') View All Comments
          .col-lg-4
            .panel.panel-primary
              .panel-heading
                h3.panel-title
                  i.fa.fa-long-arrow-right
                  | RECENT CAMPAIGNS
              .panel-body
                .table-responsive
                  table.table.table-bordered.table-hover.table-striped.tablesorter
                    thead
                      tr
                        th
                          | &num;
                          i.fa.fa-sort
                        th
                          | Date
                          i.fa.fa-sort
                        th
                          | Org
                          i.fa.fa-sort
                        th
                          | Accept&quest;
                          i.fa.fa-sort
                    tbody
                      tr
                        td 336
                        td 02&sol;02&sol;2013
                        td Starbucks
                        td Yes
                      tr
                        td 335
                        td 02&sol;02&sol;2013
                        td Starbucks
                        td Yes
                      tr
                        td 334
                        td 02&sol;02&sol;2013
                        td Starbucks
                        td Yes
                      tr
                        td 333
                        td 02&sol;02&sol;2013
                        td Starbucks
                        td No
                      tr
                        td 332
                        td 02&sol;02&sol;2013
                        td Starbucks
                        td Yes
                      tr
                        td 331
                        td 02&sol;02&sol;2013
                        td Starbucks
                        td No
                      tr
                        td 330
                        td 02&sol;03&sol;2013
                        td Starbucks
                        td Yes
                      tr
                        td 329
                        td 02&sol;03&sol;2013
                        td Starbucks
                        td Yes
                .text-right
                  a(href='#') View All
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.4.3/morris.min.js')
    script(src='js/morris/chart-data-morris.js')
    script(src='js/tablesorter/jquery.tablesorter.js')
    script(src='js/tablesorter/tables.js')
