doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Admin
    //- link(href='http://getbootstrap.com/dist/css/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/main.css', rel='stylesheet')
  body
    .navbar
    .sidebar
